body {
  height: 100%; }
  body main {
    height: 100%; }
    body main ._3gdUB-CRm-UqECLtV_JskI {
      height: 75%;
      top: 0; }
    body main ._9BupJiG2giMJRXKZbolY3 {
      height: 25%;
      bottom: 0; }
      body main ._9BupJiG2giMJRXKZbolY3 ._9ozKgOcS1wJHTyQjnuFoc {
        color: #ff5a5a; }
      body main ._9BupJiG2giMJRXKZbolY3 ._1_LM69BY6JwCtA_KxNl7Hb {
        color: black; }

