body {
    height: 100%;
    
    main {
        height: 100%;
    
        .content {
            height: 75%;
            top: 0;
        }
    
        .console {
            height: 25%;
            bottom: 0;

            .outputerr {
                color: #ff5a5a;
            }

            .output {
                color: black;
            }
        }
    }

}
